.jumbotron {
  background-color: #ffe134;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}


.brand-icon {
    font-size: 100px;
}
.footer {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  bottom: 0;
  color: rgb(102, 104, 81);
  text-align: right;
  height: 40px;
 }
 
 .footerText{
   font-size: 1.1rem;
   font-weight: bold;
   padding-top: 8px;
   padding-bottom: 1px;
   margin-right: 20px;
 }
 
 .display-3{
  font-family: 'Stylish', sans-serif;
 }

.yt{
  position:fixed;
    bottom:2%;
    left:2%;
    max-width: 8%;

 }